
#why_us{
	clear: both;
}

.why_us_content{
	position: relative;
	font-style: normal;
	text-align: center;
	border: 2px solid #FF5A00;
	border-radius: 30px;
	padding: 7px;
	margin: 25px;
	width: 90%;
	height: 90%;
	float: left;
	background-color: #fcfeff;
	transition-duration: 0.4s;
}

.why_us_content:hover{
	transition-duration: 0.4s;
	transform: scale(1.05,1.05);
}

.search_input{
	width: 100%;
}

#slider2 {
  width: 100% !important;
}

.rslides_tabs {
  width: 100% !important;
}

.zdj{
    padding-left: 1.5rem;
    float: left;
    width: 96% !important;
}

#zdjecie{
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0px;
    width: 95%;
}

#zdjecie img{
}


.nazwa{
    font-style: normal;
    font-size: 1.2rem;
}

#skreslenie {
    color:green; 
    float: right; 
    font-size: 1.2rem;
    padding:1rem;
}

#cena{
    padding: 1rem;
    float: left;
    font-style: normal;
    font-size: 1.2rem;
    color: red;
}