/* Zamowienia.php - WYŚWIETLANA TABELA ZAMÓWIEŃ */

table, th, td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: #FF5A00;
}

table {
    width: 100%;
    border-collapse: collapse;
}



#title3{
    font-style: normal;
    text-align: center;
}

#container{
    height: 100%;
}

#orders{
    margin: 20px;
    padding: 20px;
}

.order_table{
    border-collapse: collapse;
    position: relative;
    text-align: center;
    font-style: normal;
    border: 1px solid black;
}

.order_table th{
    background-color: #ba9e79;
}

.order_table table{
    border-collapse: collapse;
}

.order_table th, td, table, tr{
    border: 1px solid black;
}

.no_orders{
    position: relative;
    left: 43%;
    text-align: center;
}

/* Zamowienia.php - WYŚWIETLANY PANEL ADMINA */

#adm_panel{
    background-color: #b0adac;
    display: block;
    position: relative;
    left: 20%;
    width: 60%;
    padding: 10px;
    font-style: normal;
    text-align: center;
    border: 1px solid black;
}

.s_inp{
    width: 50%;
}


#products_zam{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

#dodaj_produkt{
    font-style: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #FF5A00;
}