/* rendering well on different browsers */
* {     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* SEKCJA CSS DO <div> -----------------*/
#container {
	background: #FFFFFF;
	margin: 2.5% auto;
	width: 95%;
	padding: 1rem;
}

#sticky_menu {
	width: 100%;
	padding: 10px 0;
	background-color: #FFFFFF;
	text-align: center;
	border-top: 1px solid #d2d4d6;
	border-bottom: 1px solid #d2d4d6;
}

#header {
text-align: center;
}

#main {

	width: 100%;
	margin:0
	height: auto;


	text-align: justify;
	font-style: italic;
}

#footer {
	color: white;
	width: 100%;
	text-align: center;
	background-color: #444;
	padding: 2rem 2rem 2rem 2rem;
}


/* ELEMENTY STRONY -----------------*/
body {
	background-color: #ECEFF1;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

h1 {
	font-style: normal;
	text-align: center;
	height: 20 px;
	color: #FF5A00;
}

h2 {
	text-align: center;
	height: 15 px;
}

p {
	height: 10 px;
}

a {
	color: red;
	height: 8 px;
}

ul {
	margin: 30px 0 30px 0;
	padding: 0;
}

ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block!important;
}

ol a{
	color: #000000;
	text-decoration: none;
	display: block;
}

ol > li{
	float: left;
	width: 150px;
	height: 40px;
}

/* Div categories -----------------*/

.kat{
	color: #FF5A00;
}

#categories{
	margin-left: 40px;
	background-color: #FFFFFF;
	text-align: center;
	font-style: normal;
	width: 12%;
	float: left;
	line-height: 15px;
	height: inherit;
}

#categories a{
	padding-top: 5px;
	display: block;
	height: 28px;
	text-decoration: none;
	border: 1px solid #c8d3db;
	border-radius: 15px;
	color: black;
}

#categories a:hover{
	background-color: #ECEFF1; 
	color: red;
}

/* Div daily_offer -----------------*/

.daily_offers{
	width: 80%;
	margin: auto;
	border: 2px solid #ECEFF1;
	overflow: hidden;
	position: relative;

}

.slider{
	display: flex;
	width: 100%;
	height: 400px;
}

#prevBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 2%;
	font-size: 30px;
	color: #FF5A00;
	cursor: pointer;
}

#nextBtn{height: auto;
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 2%;
	font-size: 30px;
	color: #FF5A00;
	cursor: pointer;
}

/* Products main site-----------------*/

#products{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.product{
	color: black;
	position: relative;
	text-align: center;
	padding: 1px;
	margin: 8px;
	min-width: 190px;
	min-height: 190px;
	border: solid 1px #FF5A00;
	float: left;
	font-size: 13px;
	font-style: normal;
	background-color: #ECEFF1;
}

.product:hover{
	transition-duration: 0.4s;
	transform: scale(1.05,1.05);
	background-color: #e4f0e7;
	cursor: pointer;
}



/* Div promo -----------------*/

#comentaries{
	border: 3px solid grey;
	
	margin: 10px;
	padding: 10px;
	clear: both;
}


/*why_us --------------------- */

#why_us{
	clear: both;
}

.why_us_main_container{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.why_us_content{
	position: relative;
	font-style: normal;
	text-align: center;
	border: 2px solid #FF5A00;
	border-radius: 30px;
	padding: 7px;
	margin: 25px;
	width: 415px;
	height: 415px;
	float: left;
	background-color: #fcfeff;
	transition-duration: 0.5s;
}

.why_us_content:hover{
	transition-duration: 0.5s;
	transform: scale(1.05,1.05);
}

/* Skladanie_zam.php */

#adres{
	font-size: 25px;
	text-align: center;
}

.ustawienia_link{
	color: #FF5A00;

}

.ustawienia_link:hover{
	color: red;
	background-color: #ECEFF1;
}

#dalej_btn{
	width: 150px;
	min-height: 40px;
	margin-left: 10px;
    font-size: 25px;
    background-color: #FF5A00;
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
}

#dalej_btn:hover{
    background-color: #ff8800;
}

/* Skladanie_zam_next.php */

#podsumowanie_prod{
	text-align: center;
}

#podsumowanie1{
	text-align: center;
}

#uwaga{
	font-style: italic;
}

#dostaw{
	text-align: center;
	color: green;
}

/* ocena_sklepu.php */

#informacja1{
	text-align: center;
}

#formularz{
	position: relative;
	left: 25%;
	width: 50%;
	text-align: center;
}

#koment{
	position: relative;
	right: 27%;
}

#dziekujemy{
	text-align: center;
}

/* FAQ, regulaminy */

#regulamin{
	position: relative;
	left: 17%;
	width: 65%;
	text-align: center;
}

#FAQ{
	position: relative;
	left: 13%;
	width: 75%;
	text-align: center;
}
